RewriteEngine on
#RewriteBase /
# przekierujmy wszystkie nieistniejace wywolania do pliku index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)?$ index.php [QSA,L]
